<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
      <ion-title>Faça seu comentário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let com of comentarios">
    <ion-card-content>
      {{com.comentario}}
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="comentar()" color="light" size="small">
      <ion-icon name="send"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-label position="stacked">Seu comentário</ion-label>
      <ion-textarea [(ngModel)]="coment"></ion-textarea>
    </ion-item>
  </ion-toolbar>
</ion-footer>